{% extends 'base.html.twig' %}

{% block title %}Room index{% endblock %}

{% block body %}
<div class="row g-0">
    <div class="col-3 bg-primary vh-100 fixed-top">


    </div>
    <div class="col-9 offset-3">
        <div class="col-9 offset-3 fixed-top bg-white">

            <h1>Room index
            <a href="{{ path('app_room_new') }}" class="btn btn-danger"><i class="fa fa-plus" aria-hidden="true"></i>
            </a>
            </h1>
        </div>
        <div class="mt-5">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <td>{{ room.id }}</td>
                <td>{{ room.name }}</td>

                <td>
                    <a class="btn btn-primary" href="{{ path('app_room_show', {'id': room.id}) }}"><i class="fa fa-sign-in" aria-hidden="true"></i>
                    </a>

                    {% if user.id == room.createBy.id %}
                        <a href="{{ path('app_room_edit', {'id': room.id}) }}">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>

                        {{ include('room/_delete_form.html.twig') }}

                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



        </div>

    </div>
</div>
{% endblock %}
