{% extends 'base.html.twig' %}

{% block title %}Room{% endblock %}

{% block body %}
    <div class="row g-0">
        <div class="col-2 bg-primary vh-100 fixed-top">

        {{ room.id }}

        {{ room.name }}


            <a href="{{ path('app_room_index') }}">back to list</a>

            {% if user.id == room.createBy.id %}
                <a href="{{ path('app_room_edit', {'id': room.id}) }}">edit</a>


                {{ include('room/_delete_form.html.twig') }}

            {% endif %}

    </div>
        <div class="col-10 offset-2">
            <div class="offset-2 col-10 fixed-top bg-white">

    <h1>Message index</h1>
            </div>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Content</th>
            <th>CreatedBy</th>
            <th>CreatedAt</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.content }}</td>
                <td>{{ message.user.username }}</td>
                <td>{{ message.createdAt ? message.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_message_edit', {'id': message.id}) }}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <form method="post" action="{{ path('app_room_delete', {'id': room.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ room.id) }}">
                        <button class="btn"><i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </form>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}


    </div>
    </div>

{% endblock %}
