{% extends 'base.html.twig' %}

{% block title %}Room{% endblock %}

{% block body %}
    <div class="row g-0">
        <div class="col-3 bg-primary vh-100 fixed-top">
        {{ room.id }} - {{ room.name }}
            <a href="{{ path('app_room_index') }}" class="btn btn-danger" >
                <i class="fa fa-undo" aria-hidden="true"></i>
            </a>

    </div>
        <div class="col-9 offset-3">
            <div class="col-9 offset-3 fixed-top bg-white">

    <h1>Message index</h1>
            </div>
            <div class="mt-5">
        {% for message in messages %}

            {% if message.user.id == user.id  %}
                <div class="card col-6  border-primary offset-6">
                    <div class="card-header">
                        {{ message.user.username }}
                        {{  message.createdAt|date('Y-m-d H:i:s') }} -

                        <a href="{{ path('app_message_edit', {'id': message.id, 'roomId': room.id }) }}">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>

                        {{ include('message/_delete_form.html.twig') }}
                    </div>

            {% else %}
                <div class="card col-6">
                    <div class="card-header">
                        {{ message.user.username }}
                        {{  message.createdAt|date('Y-m-d H:i:s') }}
                    </div>

            {% endif %}
            <div class="card-body">
                <p class="card-text">{{ message.content }}</p>
            </div>
            </div>
        {% endfor %}


    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}


    </div>
    </div>
    </div>
{% endblock %}
