{% extends 'base.html.twig' %}
{% block title %}{{ room.id }} - {{ room.name }}{% endblock %}

{% block body %}
<div class="row g-0">
    <div class="col-3 bg-primary vh-100 fixed-top">
        {{ room.id }} - {{ room.name }}
        <a href="{{ path('app_room_home') }}" class="btn btn-danger" >
            <i class="fa fa-undo" aria-hidden="true"></i>
        </a>

    </div>
    <div class="col-9 offset-3">
        <div class="col-9 offset-3 fixed-top bg-white">

            <h1>Message index</h1>
        </div>
        <div class="mt-5">
            {% block messages %}{% endblock %}
        </div>
    </div>
</div>

{% endblock %}
